<ion-content [fullscreen]="true" class="main ion-padding">

  <!-- MENU -->
  <app-menu></app-menu>
  
  <ion-row class="inductions-row">
    <ion-col size="12" class="ion-text-center inductions-img">
      <ion-img class="icon-img" src="assets/icon/induction-page.png" alt="Induction Icon"></ion-img>
    </ion-col>
    <ion-col size="12" class="ion-text-center inductions-col">
      <ion-label class="inductions-label">Inductions</ion-label>
    </ion-col>
    <ion-col size="12" class="text-col">
      <ion-text>Inductions are audios of about 20 minutes in duration that are designed to provide a relaxing and meditative doorway to rest and sleep. The deeper messages also help reframe your mindset to sleep and create the platform for you to develop the skills of deep relaxation and peaceful rest.</ion-text>
    </ion-col>
  </ion-row>

  <swiper-container class="icon-img" [pagination]="{type: 'bullets', clickable: true}" >
    <swiper-slide></swiper-slide>
    <swiper-slide></swiper-slide>
    <swiper-slide></swiper-slide>
    <swiper-slide>.</swiper-slide>
  </swiper-container>

</ion-content>