.image-container {
  position: relative;
}

ion-img {
  display: block;
  width: 100%;
  height: auto;
}

.back-icon,
.heart-icon {
  position: absolute;
  top: 50px;
  color: white;
  font-size: 35px;
}

.back-icon {
  left: 20px;
}

.heart-icon {
  right: 20px;
}

.name-col {
  margin-top: 100px;
}

.name {
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
}

.title-col {
  margin: 10px 0;
}

.title {
  color: #ffffff;
}

.desc {
  color: #7c8da2;
}

.play-btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-cal {
  margin-bottom: 50px;
}

.play-unlock {
  margin-bottom: 40px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forward,
.reverse {
  width: 27px;
}

.play-music {
  width: 60px;
}

.duration {
  color: #ffffff;
}

// MODAL

ion-modal {
  --height: auto;
  --background: transparent;
}

.modal-content {
  background: linear-gradient(
    to bottom,
    #062f5b,
    #063a6e,
    #04427b,
    #04427b,
    #04427b
  );
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.modal-row {
  padding: 20px 30px;
}

.premium-label {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}

.tick-col {
  display: grid;
  place-items: center;
}

.tick {
  width: 70px;
}

.label-p {
  margin-bottom: 15px;
}

.unlock-premium {
  font-size: 18px;
  color: #ffffff;
}

.unlock-premium p {
  color: #d7e0ea;
  margin-top: 10px;
}

.price-btn {
  --color: #ffffff;
  --background: #ff9800;
  --background-activated: #ff9800;
  --border-radius: 40px;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 40px;
  --padding-end: 40px;
}

.desc-color {
  color: #8da3b9;
}

.primary {
  color: #1c89e1;
}
