<ion-content [fullscreen]="true" class="main ion-padding">

  <!-- MENU -->
  <app-menu></app-menu>

  <ion-row class="privacy-row">
    <ion-col size="12" class="ion-text-center privacy-img">
      <ion-img class="icon-img" src="assets/icon/p&t_c.png" alt="Icon"></ion-img>
    </ion-col>
    <ion-col size="12" class="ion-text-center privacy-col">
      <ion-label class="privacy-label">Privacy Policy</ion-label>
    </ion-col>
    <ion-col size="12" class="text-col">
      <ion-text>Corem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed.</ion-text>
    </ion-col>
    <ion-col size="12" class="text-col">
      <ion-text>risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas.</ion-text>
    </ion-col>
    <ion-col size="12" class="text-col">
      <ion-text>scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis diam sit amet lacinia. Aliquam in elementum tellus.Corem ipsum dolor sit amet, consectetur adipiscing elit.</ion-text>
    </ion-col>
    <ion-col size="12" class="text-col">
      <ion-text>Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus.</ion-text>
    </ion-col>
    <ion-col size="12" class="text-col">
      <ion-text>Class aptent taciti sociosqu ad litora torquent</ion-text>
    </ion-col>
  </ion-row>
  
</ion-content>
