// LOGO

.logo-col {
  display: grid;
  place-items: center;
}

// CATEGORIES

.Category-text {
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
}

.slider-col {
  display: flex;
  gap: 10px;
}

.slider-img {
  width: 25px;
}

.slider-label {
  color: #3b638a;
  font-size: 20px;
}

.slider-label.selected {
  color: #ffffff;
}

.meditation-img {
  width: 25px;
}

.heart-icon {
  font-size: 25px;
}

.heart-icon.selected {
  color: #ffffff;
}

// SESSIONS

.session-text {
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
}

.home-card {
  background: linear-gradient(to bottom, #06386b, #06315f);
  width: 100%;
  border-radius: 15px;
}

.image-col {
  display: flex;
  align-items: stretch;
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.name-desc {
  display: flex;
  align-items: center;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.desc {
  color: #c9d2dc;
}

.not-found {
  color: #ffffff;
  margin-top: 15px;
}

.sound-row {
  margin-left: -45px;
}

.rest-row {
  margin-left: -50px;
}

.med-row {
  margin-left: -50px;
  width: 500px;
}

.fav {
  margin-left: 30px;
}

.fav-label {
  margin-left: 10px;
}