<ion-content [fullscreen]="true" class="main">

  <!-- MENU -->
  <app-menu></app-menu>

  <ion-row class="ion-padding-start ion-padding-end ion-padding-bottom">
  <!-- LOGO -->
    <ion-col class="logo-col">
      <img src="assets/images/logo.png" alt="Logo" width="114px" height="56px"/>
    </ion-col>
    <!-- CATEGORIES -->
    <ion-col size="12" class="ion-margin-top">
    <ion-text class="Category-text">Categories</ion-text>
    </ion-col>
    <ion-col size="12" class="ion-margin-top">
      <swiper-container
        [modules]="swiperModules"
        [spaceBetween]="-5" X
        [loop]="true"
        [slidesPerView]="2.1">
        <swiper-slide class="ion-margin-end" (click)="selectCategory('induction')">
          <ion-row>
            <ion-col size="12" class="slider-col">
              <ion-img src="assets/icon/induction.png" class="slider-img"></ion-img>
              <ion-label [ngClass]="{'selected': selectedCategory === 'induction'}" class="slider-label">induction</ion-label>
            </ion-col>
          </ion-row>
        </swiper-slide>
        <swiper-slide class="ion-margin-end" (click)="selectCategory('soundscape')">
          <ion-row>
            <ion-col size="12" class="slider-col">
              <ion-img src="assets/icon/soundscape.png" class="slider-img"></ion-img>
              <ion-label [ngClass]="{'selected': selectedCategory === 'soundscape'}" class="slider-label">soundscape</ion-label>
            </ion-col>
          </ion-row>
        </swiper-slide>
        <swiper-slide class="ion-margin-end" (click)="selectCategory('mindset')">
          <ion-row>
            <ion-col size="12" class="slider-col">
              <ion-img src="assets/icon/mindset_reset.png" class="slider-img"></ion-img>
              <ion-label [ngClass]="{'selected': selectedCategory === 'mindset'}" class="slider-label">mindset reset</ion-label>
            </ion-col>
          </ion-row>
        </swiper-slide>
        <swiper-slide class="ion-margin-end" (click)="selectCategory('meditation')">
          <ion-row>
            <ion-col size="12" class="slider-col">
              <ion-img src="assets/icon/soundscape_meditation.png" class="meditation-img"></ion-img>
              <ion-label [ngClass]="{'selected': selectedCategory === 'meditation'}" class="slider-label">soundscape meditation</ion-label>
            </ion-col>
          </ion-row>
        </swiper-slide>
        
        <swiper-slide (click)="selectCategory('favourite')">
          <ion-row>
            <ion-col size="1">
              <ion-icon name="heart-outline" class="heart-icon" [ngClass]="{'selected': selectedCategory === 'favourite'}"></ion-icon>
            </ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="10">
              <ion-label [ngClass]="{'selected': selectedCategory === 'favourite'}" class="slider-label">favourite</ion-label>
            </ion-col>
          </ion-row>
        </swiper-slide>
      </swiper-container>
    </ion-col>

    <!-- SESSIONS -->
    <ion-col size="12" class="ion-margin-top">
      <ion-text class="session-text">Sessions</ion-text>
      </ion-col>

      <!-- INDUCTION -->
      <ng-container *ngIf="selectedCategory === 'induction' || selectedCategory === 'all'">
      <ion-card class="ion-no-margin ion-margin-top home-card" *ngFor="let induction of inductionArray" (click)="openSessionDetails(induction.id)">
        <ion-row>
          <ion-col size="3" class="ion-no-padding image-col">
            <ion-img [src]="induction.img" class="card-image"></ion-img>
          </ion-col>
          <ion-col size="8" class="name-desc">
            <ion-row>
              <ion-col size="12">
                <ion-label class="name">{{ induction.name }}</ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-text class="desc">{{ induction.desc }}</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="1">
            <ion-img [src]="induction.lock"></ion-img>
          </ion-col>
        </ion-row>
      </ion-card>
    </ng-container>
      
        <!-- SOUNDSCAPE -->
        <ng-container *ngIf="selectedCategory === 'soundscape' || selectedCategory === 'all'">
        <ion-card class="ion-no-margin ion-margin-top home-card" *ngFor="let soundScape of soundScapeArray" (click)="openSessionDetails(soundScape.id)">
          <ion-row>
            <ion-col size="3" class="ion-no-padding">
              <ion-img [src]="soundScape.img"></ion-img>
            </ion-col>
            <ion-col size="8" class="name-desc">
              <ion-row>
                <ion-col size="12">
                  <ion-label class="name">{{ soundScape.name }}</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-text class="desc">{{ soundScape.desc }}</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="1">
              <ion-img [src]="soundScape.lock"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card>
      </ng-container>

        <!-- MINDSET -->
        <ng-container *ngIf="selectedCategory === 'mindset' || selectedCategory === 'all'">
        <ion-card class="ion-no-margin ion-margin-top home-card" *ngFor="let mindset of mindsetArray" (click)="openSessionDetails(mindset.id)">
          <ion-row>
            <ion-col size="3" class="ion-no-padding">
              <ion-img [src]="mindset.img"></ion-img>
            </ion-col>
            <ion-col size="8" class="name-desc">
              <ion-row>
                <ion-col size="12">
                  <ion-label class="name">{{ mindset.name }}</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-text class="desc">{{ mindset.desc }}</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="1">
              <ion-img [src]="mindset.lock"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card>
      </ng-container>

        <!-- MEDITATION -->
        <ng-container *ngIf="selectedCategory === 'meditation' || selectedCategory === 'all'">
        <ion-card class="ion-no-margin ion-margin-top home-card" *ngFor="let meditation of meditationArray">
          <ion-row>
            <ion-col size="3" class="ion-no-padding">
              <ion-img [src]="meditation.img"></ion-img>
            </ion-col>
            <ion-col size="8" class="name-desc">
              <ion-row>
                <ion-col size="12">
                  <ion-label class="name">{{ meditation.name }}</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-text class="desc">{{ meditation.desc }}</ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="1">
              <ion-img [src]="meditation.lock"></ion-img>
            </ion-col>
          </ion-row>
        </ion-card>
      </ng-container>

      <!-- FAVOURITE -->
      <ion-label *ngIf="selectedCategory === 'favourite' || selectedCategory === 'all'" class="not-found">No Sessions found</ion-label>

  </ion-row>

</ion-content>
